-# This file contains the HTML for the 'hello world' section.

.hello_world
  %h2 Hello World!
  %p This is content defined by the hello world section.
  %p It is styled by CSS from the section.
  %p Click on this section. The behavior comes from the section's JavaScript file.
